<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Formulaire d'enregistrement :: X-Pets - Adoption d'animaux avec superpouvoirs</title>
	<meta name="description" content="Formulaire permettant d'enregistrer ou mettre à jour une fiche animal dans la base de données de l'institution">

	<!-- Fonts -->

	<!-- Stylesheets -->
	<link rel="stylesheet" href="{{ constant("\\XPetsIntl\\ROOTDIR") }}styles/main.css">

</head>

<body>
	<header>
		<h1>{{ headerText }}</h1>
	</header>
	<main>
		<form action="{{ constant("\\XPetsIntl\\ROOTDIR") ~ controllerSlug ~ "/" ~ action}}" method="post">
			<div class="input-field">
				<label for="inputName">Nom : </label>
				<input name="name" id="inputName" type="text" {% if update %}value="{{ entry.name }}"{% endif %}> 
			</div>

			<div class="input-field">
				<label for="inputDesc">Description : </label>
				<textarea name="description" id="inputDesc">{% if update %}{{ entry.description }}{% endif %}</textarea>
			</div>

			<button type="submit">Enregistrer</button>
			
			{% if update %}
			<button type="submit" name="delete" value="true">Supprimer</button>
			{% endif %}
		</form>
	</main>
</body>
</html>