{% include "includes/header.twig" %}
		<a href="{{ constant("\\XPetsIntl\\ROOTDIR") }}xpets">&lt;- Retour à la liste des animaux</a>
		<h1>Les {{ entryLabelTextPlur }} X-Pets</h1>
	</header>
	
	<main>
		<section class="entries-listing">
			<h2>Les {{ entryLabelTextPlur }}</h2>
			
			{% if entries|length > 0 %}
			<ul>
				{% for entry in entries %}
				<li>
					<a href="{{ constant("\\XPetsIntl\\ROOTDIR") ~ controllerSlug ~ "/" ~ entry.id ~ "/" ~ entry.slug }}">{{ entry.name }}</a>
					{% if canEdit %}
					<a href="{{ constant("\\XPetsIntl\\ROOTDIR") ~ controllerSlug }}/formulaire/{{ entry.id }}">Mettre à jour</a>
					{% endif %}
				</li>
				{% endfor %}
			</ul>
			{% else %}
			<p>Aucune entrée</p>
			{% endif %}
		</section>

		{% if canEdit %}
		<a class="cta" href="{{ constant("\\XPetsIntl\\ROOTDIR") ~ controllerSlug }}/formulaire">Ajouter une {{ entryLabelTextSing }}</a>
		{% endif %}
	</main>
</body>
</html>