{% include "includes/header.twig" %}
		<a href="{{ constant("\\XPetsIntl\\ROOTDIR") }}xpets">&lt;- Retour à la liste des animaux</a>
		<h1>{{ xpet.name }}</h1>
	</header>
	
	<main>
		<article class="xpet-record">
			<span class="animal-class aninalClass-id-{{ xpet.classId }}">{{ xpet.class }}</span>
			<dl>
				<dt>Affiliation : </dt>
				<dd><a href="{{ constant("\\XPetsIntl\\ROOTDIR") }}teams/{{ xpet.teamId }}/{{ xpet.teamSlug }}">{{ xpet.teamName }}</a></dd>

				<dt>Superpouvoir : </dt>
				<dd><a href="{{ constant("\\XPetsIntl\\ROOTDIR") }}superpowers/{{ xpet.superpowerId }}/{{ xpet.superpowerSlug }}">{{ xpet.superpowerName }}</a></dd>

				<dt>Description : </dt>
				<dd>{{ xpet.description }}</dd>
			</dl>
			{% if canEdit %}
			<a class="cta" href="{{ constant("\\XPetsIntl\\ROOTDIR") }}xpets/formulaire/{{ xpet.id }}">Mettre à jour</a>
			{% endif %}
		</article>		
	</main>
</body>
</html>