<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Formulaire d'enregistrement :: X-Pets</title>
	<meta name="description" content="Formulaire permettant d'enregistrer ou mettre à jour une fiche animal dans la base de données de l'institution">

	<!-- Fonts -->

	<!-- Stylesheets -->
	<link rel="stylesheet" href="{{ constant("\\XPetsIntl\\ROOTDIR") }}styles/main.css">

</head>

<body>
	<header>
		<h1>{{ headerText }}</h1>
	</header>
	<main>
		<form action="{{ constant("\\XPetsIntl\\ROOTDIR") }}xpets/updateXpet" method="post">
			<div class="input-field">
				<label for="inputName">Nom de l'animal : </label>
				<input name="name" id="inputName" type="text" {% if update %}value="{{ xpet.name }}"{% endif %}> 
			</div>

			<div class="input-field">
				<label for="selectClass">Classe animalière : </label>
				<select name="classId" id="selectClass">
					{% if not update %}
					<option value="" disabled selected>Choisir une classe ...</option>
					{% endif %}

					{% for class in classes %}
					<option
						value="{{ class.id }}"
						{% if update and class.id == xpet.classId %}selected{% endif %}>
						{{ class.name }}
					</option>
					{% endfor %}
				</select>
			</div>

			<div class="input-field">
				<label for="selectTeam">Affiliation : </label>
				<select name="teamId" id="selectTeam">
					{% if not update %}
					<option value="" disabled selected>Choisir une équipe ...</option>
					{% endif %}

					{% for team in teams %}
					<option
						value="{{ team.id }}"
						{% if update and team.id == xpet.teamId %}selected{% endif %}>
						{{ team.name }}
					</option>
					{% endfor %}
				</select>
			</div>

			<div class="input-field">
				<label for="selectPower">Superpouvoir : </label>
				<select name="superpowerId" id="selectPower">
					{% if not update %}
					<option value="" disabled selected>Choisir une équipe ...</option>
					{% endif %}

					{% for power in powers %}
					<option
						value="{{ power.id }}"
						{% if update and power.id == xpet.superpowerId %}selected{% endif %}>
						{{ power.name }}
					</option>
					{% endfor %}
				</select>
			</div>
			
			<div class="input-field">
				<label for="inputDesc">Description : </label>
				<textarea name="description" id="inputDesc">{% if update %}{{ xpet.description }}{% endif %}</textarea>
			</div>

			<button type="submit">Enregistrer l'animal</button>
			
			{% if update %}
			<button type="submit" name="delete" value="true">Effacer l'animal</button>
			{% endif %}
		</form>
	</main>
</body>
</html>