<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{{ xpet.name }} :: X-Pets - Adoption d'animaux avec superpouvoirs</title>
	<meta name="description" content="Portail d'accueil de X-Pets, un centre d'hébergement et d'adoption pour animaux mutants">

	<!-- Fonts -->

	<!-- Stylesheets -->
	<link rel="stylesheet" href="{{ constant("\\XPetsIntl\\ROOTDIR") }}styles/main.css">

	<!-- Scripts -->
	<script type="text/javascript" src="scripts/script.js"></script>
</head>

<body>
	<header>
		<a href="{{ constant("\\XPetsIntl\\ROOTDIR") }}xpets">&lt;- Retour à la liste des animaux</a>
		<h1>{{ xpet.name }}</h1>
	</header>
	
	<main>
		<article class="xpet-record">
			<span class="animal-class aninalClass-id-{{ xpet.classId }}">{{ xpet.class }}</span>
			<p>{{ xpet.description }}</p>
			<a class="cta" href="{{ constant("\\XPetsIntl\\ROOTDIR") }}xpets/formulaire/{{ xpet.id }}">Mettre à jour</a>
		</article>		
	</main>
</body>
</html>